.primary-visualizart{
	background-color: #27384a;
	color: #ccd0c5;
}
.color-seconds{
	background-color: #869a8e;
}
.color-mid{
	background-color: #ccd0c5;
	color: #869a8e;
}
.text-servicios{

    color: white;
    background-color: white;
}
.text-visualizart{
	color:#3c763d;
}